body{
  padding: 1em 3em;
  background-color: black;
  color: white;
}    

header nav{
  display: flex;
}

header nav a{
  color: white;
  text-decoration: none;
  list-style: none;
}

ul{
  list-style: none;
}

header{
  display: flex;
  position: sticky;
  top: 0%;
  padding: 0.2% 0;
  background-color: black;
  align-items: center;
}

header ul{
  display: flex;
  align-items: center;
}

header ul li{
  font-size: 15px;
  padding-left: 0.5em;
  padding-right: 2em;
}

header ul li :hover{
  color: rgb(170, 170, 170);
  transition-duration: 500ms;
}

.logo{
    margin-top: 0.3em;
}

.logo:hover{
  transform: scale(106%);
  transition-duration: 400ms;
}

.botonCarrito{
  background-color: transparent;
  color: white;
  border: none;
  font-size: 1.5em;
  margin-left: 2%;
  margin-top: 0.2em;
}

.botonCarrito:hover{
  color: rgb(170, 170, 170);
  transition-duration: 500ms;
  cursor: pointer; 
}

.botonUser{
  background-color: transparent;
  color: white;
  border: none;
  font-size: 1.5em;
  margin-left: 6%;
  margin-top: 2%;
}

.botonUser:hover{
  color: rgb(170, 170, 170);
  transition-duration: 500ms;
  cursor: pointer; 
}

.notificacionCarrito{
  position: absolute;
  background-color: #DC1A28;
  font-size: 0.6em;
  border-radius: 10px;
  padding: 0 0.3em;
  margin-left: 1.2em;
  bottom: 52%;
}

.itemCount{
  display: flex;
}

.itemCount button{
  display: flex;
  margin: 0 1em;
  padding: 0 1.5em;
  border-radius: 10px ;
  background-color: #DC1A28;
  border: none;
  color: white;
  justify-content: center;
  align-items: center;
}

.itemCount button:hover{
  background-color: #630d14;
  transition-duration: 400ms;
  cursor: pointer;
}